name: example-client-payload-action
on: repository_dispatch

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_DEV_ID }}
          service_account_key: ${{ secrets.GCP_PROJECT_SA_KEY }}
          export_default_credentials: true     
      - name: Deploy to dev
        if: github.event.client_payload.ref == 'staging'
        run: gcloud compute ssh --zone "us-central1-a" "base-image" --project "joyride-gcp-dev-env" --quiet
             --command="sudo rm -rf /tmp/joyride && sudo git clone -b ${{toJson(github.event.client_payload.ref)}} https://github.com/joyridedev/test.git /tmp/joyride/ && sudo cp -r /tmp/joyride/* /var/www/html/"

  notify:
      name: Notify on Slack
      runs-on: ubuntu-latest
      needs: [build-deploy]
      steps:
          - uses: 8398a7/action-slack@v3
            with:
               status: custom
               fields: workflow,job,commit,repo,ref,author,took
               custom_payload: |
                  {
                    attachments: [{
                       color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                       text: `${process.env.AS_WORKFLOW}\n${process.env.AS_JOB} (${process.env.AS_COMMIT}) of ${process.env.AS_REPO}@${process.env.AS_REF} by ${process.env.AS_AUTHOR} ${{ job.status }} in ${process.env.AS_TOOK}`,
                    }]
                  }
            env:
               SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
            if: always()
